.attempt-wrapper{
    display: flex;
    flex-direction: row;

    .char-box{
        width: 60px;
        height: 60px;
        // border: 1px solid white;
        color: black;
        font-weight: 900;
        font-size: 20px;
        margin: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        border-radius: 4px;
    }

    .char-box.grey{
        background-color: transparent;
        border: 1px solid rgb(83, 83, 83);
    }
    .char-box.yellow{
        background-color: yellow;
    }
    .char-box.green{
        background-color: rgb(0, 255, 47);
    }
    .char-box.purple{
        background-color: purple;
    }
    .char-box.red{
        background-color: rgb(255, 13, 13);
    }
}   